@charset utf-8;
body {
    font-family: Tahoma, Arial, Verdana;
    font-size: 12px;
    color: #868686;
    line-height: 18px;
    background-image: url('https://ncreliefvet.github.io/img/dimension.png');
    background-color: #cbcbcb;
    margin: 0;
    padding: 0;
}

a,
a:visited {
    color: #171717;
    text-decoration: none;
}

a:hover {
    color: #171717;
    text-decoration: underline;
}

a img {
    border: none;
}

.imgcenter {
    display: block;
    margin: 2px auto 15px;
}

.imgmiddle {
    vertical-align: middle;
    margin-right: 8px;
}

.imgopt {
    display: block;
    margin: -10px auto 15px;
}

.imgleft {
    float: left;
    margin: 4px 13px 12px 0;
}

.imgright {
    float: right;
    margin: 4px 0 12px 13px;
}

hr {
    background-color: #dbdbdb;
    color: #d9d9d9;
    height: 1px;
    line-height: 0;
    page-break-after: always;
    clear: both;
    border-width: 0;
    margin: 30px 0!important;
}

*+html hr {
    background-color: #dbdbdb;
    color: #d9d9d9;
    height: 1px;
    line-height: 0;
    page-break-after: always;
    clear: both;
    border-width: 0;
    margin: 20px 0 30px!important;
}

strong {
    color: #757575;
}

.italictext {
    font-size: 16px;
    font-family: Lato, arial, serif;
    font-style: italic;
    color: #868686;
    line-height: 22px;
    margin-bottom: 20px;
}

p,
ul,
ol {
    margin-bottom: 20px;
}

ul li {
    line-height: 20px;
    padding: 0;
}

code {
    border-left: 3px solid #d6d5d5;
    border-top: 1px solid #d6d5d5;
    border-right: 1px solid #d6d5d5;
    border-bottom: 1px solid #d6d5d5;
    background: #f8f8f8;
    font-size: 11px;
    display: block;
    color: #858585;
    margin-bottom: 10px;
    padding: 7px 10px;
}

.pullquote_right,
.pullquote_left {
    color: #9c9c9c;
    float: right;
    font-size: 1.2em;
    letter-spacing: 0;
    margin-bottom: 0;
    margin-top: 7px;
    margin-left: 20px;
    padding-left: 15px;
    width: 40%;
    font-weight: 700;
    font-style: italic;
    line-height: 1.4em;
    border-left: 2px solid #ccc;
}

.pullquote_left {
    border-right: 2px solid #ccc;
    border-left: none;
    float: left;
    margin-left: 0;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 15px;
}

.dropcap {
    float: left;
    font-family: Lato, arial, serif;
    font-style: italic;
    font-size: 32px;
    color: #4f4f4f;
    height: 41px;
    line-height: 30px;
    padding-top: 3px;
    text-align: center;
    width: 41px;
    margin: 0 -3px -10px -6px;
}

.info {
    color: #478BBF;
    background: #DCEFF5 url('https://ncreliefvet.github.io/img/info.png') 12px 9px no-repeat;
    border: 1px solid #B8E7F5;
    margin: 15px 0;
    padding: 8px 10px 8px 37px;
}

.success {
    color: #3F9153;
    background: #D7F7DF url('https://ncreliefvet.github.io/img/success.png') 12px 9px no-repeat;
    border: 1px solid #A3F7B8;
    margin: 15px 0;
    padding: 8px 10px 8px 37px;
}

li.success {
    color: #3F9153;
    background: #D7F7DF url('https://ncreliefvet.github.io/img/success.png') 4px 6px no-repeat;
    border: 1px solid #A3F7B8;
    margin: 15px 0;
    padding: 0 0 0 22px;
}

.error {
    color: #C24848;
    background: #FFD6D6 url('https://ncreliefvet.github.io/img/error.png') 12px 9px no-repeat;
    border: 1px solid #FFC2C2;
    margin: 15px 0;
    padding: 8px 10px 8px 37px;
}

.warning {
    color: #CF9E00;
    background: #FAF2D7 url('https://ncreliefvet.github.io/img/warning.png') 12px 9px no-repeat;
    border: 1px solid #FAE8AF;
    margin: 15px 0;
    padding: 8px 10px 8px 37px;
}

ul.arrow li {
    background-image: url('https://ncreliefvet.github.io/img/arrow.gif');
    background-position: 0 center;
    background-repeat: no-repeat;
    line-height: 24px;
    list-style-type: none;
    overflow: hidden;
    padding: 0 0 0 12px;
}

ul.checklist li {
    background-image: url('https://ncreliefvet.github.io/img/checklist.png')!important;
    background-position: 0 center;
    background-repeat: no-repeat;
    line-height: 24px!important;
    list-style-type: none;
    padding: 0 0 0 20px !important;
}

ul.circle {
    list-style-type: none;
    margin: -9px 0 20px;
    padding: 0;
}

ul.circle li {
    line-height: 16px;
    background-image: url('https://ncreliefvet.github.io/img/paw.png');
    background-repeat: no-repeat;
    background-position: 0 5px;
    margin: 0;
    padding: 4px 0 4px 24px;
}

ul.nolistblock li {
    line-height: 20px;
    display: inline-block;
    background-image: none!important;
    margin: 0 12px 0 0;
    padding: 0!important;
}

li.marginoff {
    margin-right: 0!important;
}

ol li {
    list-style: decimal;
    line-height: 24px;
    list-style-position: inside;
}

blockquote {
    background-image: url('https://ncreliefvet.github.io/img/quote.png');
    background-repeat: no-repeat;
    background-position: 0 1px;
    font-style: italic;
    padding-left: 35px;
    float: left;
}

.clear {
    clear: both;
}

.center {
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    font-family: Lato, arial, serif;
    font-style: italic;
    font-size: 34px;
    color: #4f4f4f;
    margin-bottom: 15px;
    line-height: 26px;
    font-weight: 400;
}

h2 {
    font-family: Lato, arial, serif;
    font-style: italic;
    font-size: 28px;
    color: #4f4f4f;
    margin-bottom: 15px;
    line-height: 24px;
    font-weight: 400;
}

h3 {
    font-family: Lato, arial, serif;
    font-style: italic;
    font-size: 24px;
    color: #4f4f4f;
    margin-bottom: 13px;
    line-height: 20px;
    font-weight: 400;
}

h4 {
    font-family: Lato, arial, serif;
    font-style: italic;
    font-size: 18px;
    color: #4f4f4f;
    margin-bottom: 13px;
    line-height: 18px;
    font-weight: 400;
}

h5 {
    font-family: Lato, arial, serif;
    font-style: italic;
    font-size: 16px;
    color: #4f4f4f;
    margin-bottom: 10px;
    line-height: 16px;
    font-weight: 400;
}

h6 {
    font-family: Lato, arial, serif;
    font-style: italic;
    font-size: 14px;
    color: #4f4f4f;
    margin-bottom: 10px;
    line-height: 16px;
    font-weight: 400;
}

.boldtext-medium {
    font-size: 12px;
    font-weight: 700;
    color: #c6c6c6;
}

.boldtext-strong {
    font-size: 20px;
    font-weight: 700;
    color: #c6c6c6;
}

.price {
    font-size: 36px;
    color: #7f7f7f;
    font-weight: 700;
}

.boxtitle-hosting {
    font-size: 14px;
    color: #7f7f7f;
    font-weight: 700;
    display: block;
    line-height: 10px;
    padding: 0 0 15px;
}

.redtext {
    color: #c22127;
}

small {
    font-size: 11px;
}

a.button-size1 {
    background: transparent url('https://ncreliefvet.github.io/img/bg_button-size1_a.png') no-repeat scroll top right;
    color: #fff;
    display: block;
    float: left;
    font-size: 18px;
    font-family: Lato, arial, serif;
    font-style: italic;
    height: 42px;
    margin-right: 6px;
    padding-right: 18px;
    text-decoration: none;
}

a.button-size1 span {
    background: transparent url('https://ncreliefvet.github.io/img/bg_button-size1_span.png') no-repeat;
    display: block;
    line-height: 18px;
    padding: 9px 17px 15px 36px;
}

a.button-size1:active span {
    background-position: bottom left;
    padding: 9px 17px 15px 36px;
}

a.button-size2 {
    background: transparent url('https://ncreliefvet.github.io/img/bg_button-size2_a.png') no-repeat scroll top right;
    color: #fff;
    display: block;
    float: left;
    font-size: 14px;
    font-family: Lato, arial, serif;
    font-style: italic;
    height: 34px;
    margin-right: 6px;
    padding-right: 18px;
    text-decoration: none;
}

a.button-size2 span {
    background: transparent url('https://ncreliefvet.github.io/img/bg_button-size2_span.png') no-repeat;
    display: block;
    line-height: 18px;
    padding: 6px 0 10px 17px;
}

a.button-size2:active span {
    background-position: bottom left;
    padding: 6px 0 10px 17px;
}

#container {
    width: 900px;
    background-image: url('https://ncreliefvet.github.io/img/left-strip.jpg');
    background-repeat: repeat-y;
    background-position: left;
    background-color: #FFF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    margin: 65px auto 18px;
}

#content-slider {
    width: 770px;
    float: left;
    margin: 0 0 0 95px;
}

#header {
    width: 770px;
    height: 88px;
    margin: 0 0 0 95px;
}

#logo {
    width: 167px;
    float: left;
    margin: 27px 0 0;
}

#mainmenu {
    width: 580px;
    border-bottom: 4px solid #d9d9d9;
    margin-top: 21px;
    float: right;
    padding: 0 10px 17px 0;
}

#mainmenu ul {
    width: auto;
    list-style: none;
    position: relative;
    float: right;
    margin: 0;
    padding: 0;
}

#menu {
    list-style-type: none;
    overflow: visible;
    margin: 0;
    padding: 0;
}

#menu li {
    font-size: 14px;
    font-family: Lato, arial, serif;
    font-style: italic;
    float: left;
    height: 46px;
    margin: 0;
    padding: 0;
}

#menu a {
    display: block;
    line-height: 36px;
    color: #3e3d3e;
    text-decoration: none;
    margin: auto 15px;
}

#menu li a:hover {
    color: #3e3d3e;
    text-decoration: none;
    display: block;
}

#menu li ul {
    list-style: none;
    position: absolute;
    width: 140px;
    top: 35px;
    left: -999em;
    z-index: 10;
    background-image: url('https://ncreliefvet.github.io/img/dropmenu-bg.jpg');
    background-repeat: repeat-y;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 8px 0;
}

#menu li:hover ul,
#menu li.sfhover ul {
    left: auto;
}

#menu li li {
    width: 140px;
    left: auto;
    height: auto!important;
    margin: 0;
    padding: 0;
}

#menu li li:first-child {
    background: url('https://ncreliefvet.github.io/img/border-nav.png')!important;
    background-repeat: repeat-x!important;
    background-position: top!important;
}

#menu li li a {
    font-size: 12px;
    width: 110px;
    color: #fff;
    line-height: 18px;
    background-color: #33363a;
    background: url('https://ncreliefvet.github.io/img/border-nav.png');
    background-repeat: repeat-x;
    background-position: bottom;
    margin: 0;
    padding: 5px 15px 8px;
}

#menu li li a:hover {
    color: #fff;
    padding: 5px 15px 8px;
}

#menu li li:hover {
    background-color: #333!important;
    -khtml-opacity: .65;
    -moz-opacity: .65;
    -ms-filter: alpha(opacity=65);
    filter: alpha(opacity=65);
    opacity: .65;
}

#menu li:hover,
#menu li.sfhover {
    position: static;
}

.lavaLamp {
    position: relative;
    height: 36px;
    overflow: hidden;
    padding: 0;
}

.lavaLamp li {
    list-style: none;
    padding-right: 10px;
    float: left;
}

#menu li.back {
    height: 4px;
    margin-top: 53px;
    background-color: #3e3d3e;
    z-index: 8;
    position: absolute;
}

.lavaLamp li a {
    z-index: 10;
}

#slideshow {
    width: 770px;
    height: 282px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #3e3d3e;
    float: left;
    margin: 0 0 31px;
}

.slide-type1,
.slide-type2,
.slide-type3 {
    width: 770px;
    height: 282px;
    float: left;
}

.slide-type1 {
    background-image: url('https://ncreliefvet.github.io/img/slide1-glow.png');
    background-repeat: no-repeat;
    background-position: right;
}

.slide-type1 img {
    margin-top: -17px;
    float: left;
}

.slide-type2 {
    background-image: url('https://ncreliefvet.github.io/img/slide1-glow.png');
    background-repeat: no-repeat;
    background-position: left;
}

.slide-type2 img {
    margin-top: -27px;
    float: left;
}

.slide-type3 {
    background-image: url('https://ncreliefvet.github.io/img/slide3-glow.png');
    background-repeat: no-repeat;
    background-position: bottom center;
}

.slide-type3 img {
    margin-top: -29px;
    float: left;
}

.slide-type3 h1 {
    width: 770px;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    float: left;
}

#slidenav {
    position: absolute;
    float: left;
    margin: -33px 0 0 683px;
}

#slideprev {
    background-image: url('https://ncreliefvet.github.io/img/left-arrow.png');
    background-repeat: no-repeat;
    width: 13px;
    height: 20px;
    position: absolute;
    left: 21px;
    bottom: 12px;
    cursor: pointer;
    z-index: 10;
}

#slidenext {
    background-image: url('https://ncreliefvet.github.io/img/right-arrow.png');
    background-repeat: no-repeat;
    width: 13px;
    height: 20px;
    position: absolute;
    left: 48px;
    bottom: 12px;
    cursor: pointer;
    z-index: 10;
}

.coda-slider-wrapper {
    clear: both;
    overflow: auto;
    padding: 0;
}

.coda-slider {
    background: none;
    width: 770px;
    float: left;
    overflow: hidden;
    position: relative;
}

.coda-slider-no-js .coda-slider {
    overflow: auto!important;
    padding-right: 20px;
}

.coda-slider,
.coda-slider .panel {
    width: 820px;
    padding: 10px 0 0;
}

.coda-slider-wrapper.arrows .coda-slider,
.coda-slider-wrapper.arrows .coda-slider .panel {
    width: 820px;
    padding: 0 25px;
}

.coda-slider-wrapper.arrows .coda-slider {
    margin: 0 10px;
}

.coda-slider p.loading {
    text-align: center;
    padding: 20px;
}

.coda-slider .panel {
    display: block;
    float: left;
}

.coda-slider .panel-container {
    position: relative;
}

.coda-nav-left a,
.coda-nav-right a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.content {
    width: 770px;
    margin: 0 0 10px;
}

.maincontent {
    float: left;
    padding: 0 0 47px;
}

.sidebar-left {
    width: 235px;
    margin-right: 30px;
    float: left;
}

.sidebar-right {
    width: 235px;
    margin-left: 30px;
    float: left;
}

.sidebar-content {
    margin-bottom: 20px;
    float: left;
}

.content-right,
.content-left {
    width: 505px;
    float: left;
}

.content-full {
    width: 770px;
    float: left;
}

.sidebar-left h4 {
    width: 201px;
    color: #fff;
    background-image: url('https://ncreliefvet.github.io/img/sidebar-title-bg.jpg');
    background-repeat: repeat-y;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 9px 17px 13px;
}

.side-badge {
    width: 48px;
    height: 58px;
    background-image: url('https://ncreliefvet.github.io/img/side-badge.png');
    background-repeat: no-repeat;
    float: right;
    margin: -56px 14px 0 0;
}

.side-badge img {
    float: left;
    margin: 14px 0 0 14px;
}

.front-content-box {
    width: 335px;
    margin-bottom: 0;
    border-right: 2px solid #dbdbdb;
    border-bottom: 2px solid #dbdbdb;
    float: left;
    padding: 9px 23px 8px;
}

.front-content-box2 {
    width: 335px;
    margin-bottom: 0;
    border-right: none;
    border-bottom: 2px solid #dbdbdb;
    float: left;
    padding: 9px 23px 8px;
}

.front-content-box3 {
    width: 335px;
    margin-bottom: 15px;
    border-right: 2px solid #dbdbdb;
    border-bottom: none;
    float: left;
    padding: 22px 23px 8px;
}

.front-content-box4 {
    width: 335px;
    margin-bottom: 15px;
    border: none;
    float: left;
    padding: 22px 23px 8px;
}

.front-content-box p,
.front-content-box2 p,
.front-content-box3 p,
.front-content-box4 p {
    overflow: hidden;
}

.front-icon {
    margin-right: 16px;
    float: left;
}

.content-bottom-front {
    width: 716px;
    background-color: #ebebeb;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    float: left;
    margin: 20px 0;
    padding: 27px 27px 25px;
}

.content-bottom-front h3 {
    width: 583px;
    margin-bottom: 5px;
    float: left;
}

.content-bottom-front p {
    width: 583px;
    margin-bottom: 0;
    font-style: italic;
    float: left;
}

.onbox-button {
    margin-right: -3px;
    float: right;
}

.page-title {
    width: 770px;
    height: 103px;
    background-image: url('https://ncreliefvet.github.io/img/dogsilhouette5.png');
    background-repeat: no-repeat;
    float: left;
    margin: 0 0 28px;
}

.page-title h1 {
    width: 500px;
    text-align: right;
    color: #656565;
    float: right;
    margin: 24px 34px 3px 0;
}

.page-title p {
    width: 500px;
    text-align: right;
    font-size: 11px;
    color: #959595;
    margin-right: 34px;
    float: right;
}

.twitted p.preLoader {
    background: transparent url('https://ncreliefvet.github.io/img/loading-contact.gif') 1em center no-repeat;
    margin: 0;
    padding: 1em 1em 1em 3em;
}

.twitted ul#twitter_update_list li {
    width: 220px;
    background-image: url('https://ncreliefvet.github.io/img/circle.png');
    background-repeat: no-repeat;
    background-position: 0 17px;
    font-size: 11px;
    color: #868686;
    border-bottom: 1px solid #c5c5c5;
    margin: 0;
    padding: 10px 0 10px 15px;
}

.twitted ul#twitter_update_list li span {
    display: block;
}

.twitted ul#twitter_update_list li.lastTweet {
    border-bottom: none;
}

.twitted p.profileLink {
    display: block;
    float: right;
    margin: 0 -12px 10px 0;
    padding: .3em 1em;
}

#footer-container {
    width: 900px;
    margin: 0 auto 43px;
}

#footer-container p {
    font-size: 11px;
    color: #868686;
    text-shadow: 0 1px 0 #f1f1f1;
    text-align: center;
}

.sidebar-list {
    margin-top: -3px;
}

ul.sidebar-list li {
    width: 220px;
    border-bottom: 1px solid #c5c5c5;
    background-image: url('https://ncreliefvet.github.io/img/paw.png');
    background-repeat: no-repeat;
    background-position: 0 12px;
    line-height: 18px;
    list-style-type: none;
    padding: 11px 1px 12px 15px;
}

ul.sidebar-list li a,
ul.sidebar-list li a:visited {
    color: #868686;
    text-decoration: none;
}

ul.sidebar-list li a:hover {
    color: #b1b1b1;
    text-decoration: none;
}

.team-img {
    width: 141px;
    height: 90px;
    float: left;
    margin: 3px 20px 0 0;
}

.team-img-nowidth {
    height: 90px;
    float: left;
    margin: 3px 20px 0 0;
}

.services-content {
    width: 613px;
    margin-right: 19px;
}

.services-content img {
    float: left;
    margin: 4px 18px 46px 2px;
}

.services-content h4 {
    width: 341px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    border-bottom: 2px solid #dbdbdb;
    float: left;
}

.services-button {
    width: 106px;
    background-color: #ebebeb;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    float: right;
    padding: 16px;
}

.add-padding {
    width: 87px;
    text-align: center;
    float: left;
    margin: 6px 0 0;
}

.services-badge {
    width: 61px;
    height: 58px;
    background-image: url('https://ncreliefvet.github.io/img/services-badge.png');
    background-repeat: no-repeat;
    float: right;
    margin: -20px 24px 20px 0;
}

.services-badge img {
    float: left;
    margin: 5px 0 0 15px;
}

.pricing-content h3 {
    border-bottom: 2px solid #dbdbdb;
    padding-bottom: 15px;
    margin-bottom: 12px;
}

.pricing-box {
    width: 217px;
    background-color: #ebebeb;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    float: left;
    margin: 20px 8px 30px;
    padding: 0;
}

.pricing-top {
    width: 217px;
    text-align: center;
    color: #fff;
    background-image: url('https://ncreliefvet.github.io/img/bg-pricing.jpg');
    background-repeat: repeat-y;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    float: left;
}

.pricing-title {
    background-image: url('https://ncreliefvet.github.io/img/pricing-line.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.pricing-title h4 {
    color: #fff;
    padding-top: 9px;
    margin-bottom: 1px;
}

.pricing-title p {
    font-size: 11px;
    padding-bottom: 11px;
}

.price h1 {
    font-size: 42px;
    color: #fff;
    margin: -4px 0 12px;
}

.price h1 span {
    font-size: 18px;
    color: #fff;
}

ul.pricing-list {
    width: 180px;
    float: left;
    margin: 10px 0 25px 24px;
    padding: 0;
}

ul.pricing-list li {
    text-align: center;
    color: #868686;
    line-height: 28px;
    padding-bottom: 3px;
    border-bottom: 1px solid #d7d7d7;
    list-style-type: none;
}

.pricing-bottom {
    width: 217px;
    background-color: #d2d2d2;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    float: left;
    padding: 16px 0 17px;
}

.sgn-button {
    width: 87px;
    text-align: center;
    float: left;
    margin: 0 0 0 53px;
}

.col-170 {
    display: inline-block;
    width: 170px!important;
    vertical-align: top;
    margin-right: 25px;
    padding: 0!important;
}

.col-170-last {
    display: inline-block;
    width: 170px!important;
    vertical-align: top;
    margin-right: 0;
    padding: 0!important;
}

.col-237 {
    display: inline-block;
    width: 237px!important;
    vertical-align: top;
    margin-right: 25px;
    padding: 0!important;
}

.col-237-last {
    display: inline-block;
    width: 237px!important;
    vertical-align: top;
    margin-right: 0;
    padding: 0!important;
}

.col-370 {
    display: inline-block;
    width: 370px!important;
    vertical-align: top;
    margin-right: 25px;
    padding: 0!important;
}

.col-370-last {
    display: inline-block;
    width: 370px!important;
    vertical-align: top;
    margin-right: 0;
    padding: 0!important;
}

.col-355-last {
    display: inline-block;
    width: 355px!important;
    vertical-align: top;
    margin-right: 0;
    padding: 0!important;
}

.col-629 {
    display: inline-block;
    width: 504px!important;
    vertical-align: top;
    margin-right: 25px;
    padding: 0!important;
}

.col-629-last {
    display: inline-block;
    width: 504px!important;
    vertical-align: top;
    margin-right: 0;
    padding: 0!important;
}

.col-292 {
    display: inline-block;
    width: 292px!important;
    vertical-align: top;
    margin-right: 20px;
    padding: 0!important;
}

.col-292-last {
    display: inline-block;
    width: 292px!important;
    vertical-align: top;
    margin-right: 0;
    padding: 0!important;
}

#news-wrap {
    width: 770px;
    height: 530px;
    margin-bottom: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
    float: left;
    padding: 0 0 30px;
}

.news-column {
    width: 385px;
    margin-right: 28px;
    border-right: 2px solid #dbdbdb;
    float: left;
}

.news-column p {
    width: 357px;
    float: left;
}

.news-column h4 {
    margin-bottom: 4px;
}

.sub-heading {
    font-size: 11px;
    font-style: italic;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #dbdbdb;
}

table td {
    vertical-align: top;
}

#newsnav {
    width: 770px;
    margin-bottom: 10px;
    float: left;
}

#slideprev-news h4 {
    width: 87px;
    height: 18px;
    color: #fff;
    background-image: url('https://ncreliefvet.github.io/img/sidebar-title-bg.jpg');
    background-repeat: repeat-y;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    float: left;
    padding: 9px 17px 13px;
}

.news-badge-left {
    width: 48px;
    height: 58px;
    background-image: url('https://ncreliefvet.github.io/img/side-badge.png');
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    margin: -3px 0 0 -60px;
}

.news-badge-left img {
    float: left;
    margin: 12px 0 0 14px;
}

#slidenext-news h4 {
    width: 87px;
    height: 18px;
    color: #fff;
    text-align: right;
    background-image: url('https://ncreliefvet.github.io/img/sidebar-title-right-bg.jpg');
    background-position: right;
    background-repeat: repeat-y;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
    float: right;
    padding: 9px 17px 13px;
}

.news-badge-right {
    width: 48px;
    height: 58px;
    background-image: url('https://ncreliefvet.github.io/img/side-badge.png');
    background-repeat: no-repeat;
    cursor: pointer;
    float: right;
    margin: -3px -60px 0 0;
}

.news-badge-right img {
    float: right;
    margin: 12px 14px 0 0;
}

.portfolio-content {
    margin: 50px 0;
}

.filter li a {
    color: #868686;
    text-decoration: none;
    margin-bottom: 1px;
    background-image: url('https://ncreliefvet.github.io/img/filter-bg.gif');
    background-repeat: repeat-x;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 3px 14px 4px;
}

ul.filter {
    width: 770px;
    float: left;
    margin: 5px 0 0 10px;
}

.filter li {
    list-style: none;
    float: left;
    margin-right: 10px;
}

.project-thumbnail {
    -webkit-box-shadow: 0 0 3px #6d6d6d;
    -moz-box-shadow: 0 0 3px #6d6d6d;
    box-shadow: 0 0 3px #6d6d6d;
}

li.active a {
    background-image: url('https://ncreliefvet.github.io/img/filter-bg.gif');
    background-repeat: repeat-x;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.portfolio-content div.project {
    float: left;
    margin: 10px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#map {
    width: 503px;
    height: 300px;
    margin-bottom: 22px;
    -webkit-box-shadow: 0 0 3px #6d6d6d;
    -moz-box-shadow: 0 0 3px #6d6d6d;
    box-shadow: 0 0 3px #6d6d6d;
    float: left;
}

.social-box {
    width: 223px;
    background-color: #ebebeb;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    float: left;
    padding: 18px 0 10px 12px;
}

ul.social-list {
    width: 220px;
    list-style-type: none;
}

ul.social-list li {
    width: 98px;
    float: left;
    margin: 0 6px 5px;
}

#contactFormArea {
    width: 505px;
    float: left;
    margin: 0 0 40px;
    padding: 2px 0 29px;
}

label {
    width: 445px;
    margin-bottom: 2px;
    float: left;
}

.label-form-inline {
    width: 149px;
    margin-right: 23px;
    float: left;
}

.label-form-inline-last {
    width: 149px;
    margin-right: 0;
    float: left;
}

fieldset {
    border: 0;
}

.textfield {
    border-top: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    border-left: none;
    border-bottom: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #f7f7f7;
    font-size: 12px;
    width: 149px;
    color: #959494;
    font-family: Tahoma, Arial, Verdana;
    margin: 0 0 10px;
    padding: 7px 5px;
}

.input-submit {
    width: 105px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: Lato, arial, serif;
    font-style: italic;
    background-image: url('https://ncreliefvet.github.io/img/contact-button.png');
    background-repeat: no-repeat;
    color: #fff!important;
    display: inline-block;
    float: left;
    padding: 6px 0 10px;
}

.textarea {
    border-top: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    border-left: none;
    border-bottom: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #f7f7f7;
    font-size: 12px;
    overflow: hidden;
    width: 494px;
    color: #959494;
    font-family: Tahoma, Arial, Verdana;
    margin: 0 0 13px;
    padding: 6px 5px;
}

.loading {
    background: url('https://ncreliefvet.github.io/img/loading-contact.gif') top left no-repeat;
    padding-left: 25px;
    color: #797979;
    float: left;
    margin: 9px 20px 0 10px;
}

.success-contact {
    width: 100%;
    text-align: center;
    color: #3F9153;
    background-color: #D7F7DF;
    border-top: 1px solid #A3F7B8;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #A3F7B8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    margin: -5px 0 10px;
    padding: 4px 0 8px;
}

.success-icon {
    position: relative;
    margin-right: 10px;
    top: 3px;
}

a.button-size1:active,
a.button-size2:active {
    background-position: bottom right;
    color: #fff;
    outline: none;
}

#home-page,
#about-page,
.serv-list,
*+html .col-170,
*+html .col-170-last,
*+html .col-237,
*+html .col-237-last,
*+html .col-370,
*+html .col-370-last,
*+html .col-629,
*+html .col-629-last,
*+html .col-292,
*+html .col-292-last {
    float: left;
}

#menu ul,
.twitted ul#twitter_update_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li.no-js,
.coda-nav ul,
.coda-nav ul li,
.coda-nav ul li a,
.coda-nav-left,
.coda-nav-right {
    display: none;
}

.lavaLamp li.current,
.lavaLamp li.current a,
.lavaLamp li.current a:visited,
.lavaLamp li.current li a,
.lavaLamp li.current li a:visited {
    font-weight: 400!important;
}

.slide-type1 h1,
.slide-type2 h1 {
    width: 385px;
    text-align: center;
    margin-top: 121px;
    color: #fff;
    float: left;
}

.twitted,
*+html .twitted {
    width: 235px;
    margin-top: -8px;
    margin-bottom: 1.5em;
}

.twitted ul#twitter_update_list li span a,
.twitted ul#twitter_update_list li a {
    color: #868686;
}

* html .clearfix,
:first-child+html .clearfix {
    zoom: 1;
}

@media screen and -webkit-min-device-pixel-ratio0 {
    .input-submit {
        padding: 7px 0 11px;
    }
}
